#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app-content {
  height: 100vh;
}

.logo {
  width: 300px;
  transition: filter 300ms;
  height: auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
