.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.img-details {
  width: 200px;
  height: auto;
  display: block;
}
.details-h1 {
  margin: 0px;
  font-size: 40px;
}
